In [2]:
import pandas as pd
df = pd.read_csv("GermanCredit.csv",sep=',',header=0)
df.head()

,OBS#,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO/TV,EDUCATION,RETRAINING,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,RESPONSE
0,1,0,6,4,0,0,0,1,0,0,...,67,0,0,1,2,2,1,1,0,1
1,2,1,48,2,0,0,0,1,0,0,...,22,0,0,1,1,2,1,0,0,0
2,3,3,12,4,0,0,0,0,1,0,...,49,0,0,1,1,1,2,0,0,1
3,4,0,42,2,0,0,1,0,0,0,...,45,0,0,0,1,2,2,0,0,1
4,5,0,24,3,1,0,0,0,0,0,...,53,0,0,0,2,2,2,0,0,0

In [5]:
from sklearn import *
predictors,predicted = df.columns.values[:-1],df.columns.values[-1]
train,test = train_test_split(df,test_size=0.2)

In [12]:
models = {"Logistic Regression" : linear_model.LogisticRegression(),
          "Random Forest" : ensemble.RandomForestClassifier(),
          "AdaBoost" : ensemble.AdaBoostClassifier(),
          "Decision Tree" : tree.DecisionTreeClassifier(),
          "Neural Network" : neural_network.MLPClassifier(),
          "Linear Discriminant Analysis" : discriminant_analysis.LinearDiscriminantAnalysis()}

for key in models.keys():
    model_predictions = models[key].fit(train[predictors],train[predicted]).predict(test[predictors])
    print "For %s the confusion matrix is:\n" % key,metrics.confusion_matrix(test[predicted],model_predictions)

For Decision Tree the confusion matrix is:
[[ 35  24]
 [ 35 106]]
For Linear Discriminant Analysis the confusion matrix is:
[[ 32  27]
 [ 17 124]]
For Random Forest the confusion matrix is:
[[ 30  29]
 [ 19 122]]
For AdaBoost the confusion matrix is:
[[ 28  31]
 [ 15 126]]
For Logistic Regression the confusion matrix is:
[[ 30  29]
 [ 17 124]]
For Neural Network the confusion matrix is:
[[36 23]
 [89 52]]