Been trying to download SQL server management studio but the process has been a mess. So I'm gonna have to settle for SQLite3. Doesn't seem like a problem right now, I don't think I'll be dealing with too much data just yet. Alright, this is just a basic test run.

In [1]:
import sqlite3, pandas as pd

Blah blah blah, import packages

In [2]:
con=sqlite3.connect('C:\\Users\\Jonathan\\Desktop\\database\\first.db')
cursor = con.cursor()

Awesome, so I was able to connect without any complains. Alright, here's what happened:
* Tried whole path. Didn't work. Tried again with double backslahes and it suddenly works. Thanks stack overflow.
* I found this to be really helpful. https://www.youtube.com/watch?v=JVAWKVpdb4Y If you want to dive in, this got me hitting the ground the fastest. Props to this guy.

In [3]:
my_query = """
SELECT *
FROM BostonHousing
LIMIT 5
"""

for row in cursor.execute(my_query):
    print row

(u'CRIM', u'ZN', u'INDUS', u'CHAS', u'NOX', u'RM', u'AGE', u'DIS', u'RAD', u'TAX', u'PTRATIO', u'LSTAT', u'MEDV', u'CAT.MEDV')
(u'0.00632', u'18', u'2.31', u'0', u'0.538', u'6.575', u'65.2', u'4.09', u'1', u'296', u'15.3', u'4.98', u'24', u'0')
(u'0.02731', u'0', u'7.07', u'0', u'0.469', u'6.421', u'78.9', u'4.9671', u'2', u'242', u'17.8', u'9.14', u'21.6', u'0')
(u'0.02729', u'0', u'7.07', u'0', u'0.469', u'7.185', u'61.1', u'4.9671', u'2', u'242', u'17.8', u'4.03', u'34.7', u'1')
(u'0.03237', u'0', u'2.18', u'0', u'0.458', u'6.998', u'45.8', u'6.0622', u'3', u'222', u'18.7', u'2.94', u'33.4', u'1')

Not really liking this format here...

In [24]:
df = pd.read_sql(my_query,con)
df.head()

,field1,field2,field3,field4,field5,field6,field7,field8,field9,field10,field11,field12,field13,field14
0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV,CAT.MEDV
1,0.00632,18,2.31,0,0.538,6.575,65.2,4.09,1,296,15.3,4.98,24,0
2,0.02731,0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6,0
3,0.02729,0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7,1
4,0.03237,0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4,1

In [25]:
df.columns = df.ix[0].as_matrix() #df.columns.values is often a copy. set it on df.columns to change column names
df = df.reindex(df.index.drop(0)).reset_index()
df = df[df.columns.values[1:]]
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV,CAT.MEDV
0,0.00632,18,2.31,0,0.538,6.575,65.2,4.09,1,296,15.3,4.98,24,0
1,0.02731,0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6,0
2,0.02729,0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7,1
3,0.03237,0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4,1

That's much better. Turns out I didn't check off a box when importing the csv into SQLite3.